@import "~antd/dist/antd.less";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #F0F2F5;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  display: block;
}

.sticky-wrapper {
  position: relative;
  height: 3rem; /* We need to change this value */
}

.sticky .sticky-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
